body {
    border: solid 10px pink;

}

div {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
    background-color: white;
}

h1 {
    margin: auto;
        width: 50%;
        padding: 10px;
        text-align: center;
        background-color: white;
}

table {
    margin: auto;
            width: 50%;
            padding: 10px;
            text-align: center;
}

footer {
height: 125px;
margin: 15px 0;
display: flex;
justify-content: center;
}

.square {
height: 100px;
width: 100px;
}

.col1 {
background-color: red;
}

.col2 {
background-color: blue;
}

.col3 {
background-color: pink;
}

.col4 {
background-color: purple
}

h3 {
text-align: center;
}