<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>Spa Day</title>
</head>
<body>
<span th:text="${error}"></span>
<form action = "/user" method="post">

    <div class="form-group">
        <label>User Name
            <input th:field="${user.userName}" class="form-control">
        </label>
        <p class="error" th:errors="${user.userName}"></p>
    </div>
    <div class="form-group">
        <label>Email
            <input th:field="${user.email}" class="form-control">
        </label>
        <p class="error" th:errors="${user.email}"></p>
    </div>
    <div class="form-group">
        <label>Password
            <input th:field="${user.password}" class="form-control">
        </label>
        <p class="error" th:errors="${user.password}"></p>
    </div>
    <div>
        <label> Re-type Password
            <input type="password" name="verify" class="form-control">
        </label>
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-success">
    </div>
</form>

</body>
</html>