<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8" />
    <title>Spa Menu</title>
    <link  th:href="@{/styles.css}" rel="stylesheet" />
</head>
<body>
<h1>My Super Fancy Spa</h1>

<div id = "clientProfile">
    <h2>My Profile</h2>
    <p th:text="${name}"></p>
    <p th:text="${skintype}"></p>
    <p th:text="${manipedi}"></p>
</div>
<div id = "servicesMenu">
    <h2>Menu Of Available Services</h2>
    <h3>Facial Treatments</h3>
    <p>Our estheticians recommend these treatments for your skin type.</p>
    <table >
        <tr th:each="appropriateFacial : ${appropriateFacials}">
            <td th:text="${appropriateFacial}"></td>
        </tr>
    </table>
    <th:block th:if='${manipedi.equals("manicure")}'>
    <h3 >Manicure</h3>
        <p th:replace="fragments :: manicureDescription"></p>
    </th:block>
    <th:block th:if='${manipedi.equals("pedicure")}'>
        <h3 >Pedicure</h3>
        <p th:replace="fragments :: pedicureDescription"></p>
    </th:block>
    <th:block th:if='${manipedi.equals("manipedi")}'>
        <h3 >ManiPedi</h3>
        <p th:replace="fragments :: manicureDescription"></p>
        <p th:replace="fragments :: pedicureDescription"></p>
    </th:block>
</div>
</body>
</html>